appdirs==1.4.4
CacheControl==0.14.3
certifi==2025.8.3
chardet==4.0.0
colorama==0.4.6
contextlib2==21.6.0
distlib>=0.3.1
distro==1.9.0
html5lib==1.1
idna==3.10
lockfile==0.12.2
looptools==1.2.4
msgpack==1.1.1
ordered-set==4.1.0
packaging>=20.9
pep517==0.10.0
progress==1.6
pyparsing==3.2.3
replace_domain==1.1.0
requests==2.32.4
retrying==1.4.2
six>=1.15.0
toml==0.10.2
urllib3==2.5.0
webencodings==0.5.1
